* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1080px;
  margin: 0 auto;
}
.banner {
  display: flex;
  align-items: center;
}
.lift-side h2 {
  font-size: 52px;
  line-height: 70px;
  color: rgba(58, 58, 58, 1);
}
