* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1080px;
  margin: 0 auto;
}
.banner {
  display: flex;
  align-items: center;
}
.lift-side h2 {
  font-size: 52px;
  line-height: 70px;
  color: rgba(58, 58, 58, 1);
}
.lift-side p {
  font-size: 16px;
  margin: 20px 0;
}
.bts {
  padding: 10px 20px;
  background-color: rgba(224, 44, 109, 1);
  color: #ffffff;
  border-radius: 50px;
  border: none;
}
.right-side {
  padding: 10px 20px;
}
